@charset "utf-8";
/* CSS Document */
	.abgne_tab {
		clear: left;
		width: 100%;
		margin: 80px 0px 0px 0px;
		height:auto; overflow: hidden;
	}
	ul.tabs {
		width: 100%;
		border-bottom: 1px solid #eee;
		text-align:center;
		height: 48px;
	}
	ul.tabs li {
		display:inline-block;
		height: 48px;
		line-height: 48px;
		overflow: hidden;
		position: relative;
		margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
		border: 1px solid #eee;
		background: #f9f9f9;
		margin:0 2px;

		-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
	}
	ul.tabs li a {
		display: block;
		padding: 0 80px;
		color: #000;
		border: 1px solid #fff;
		text-decoration: none;
	}
	ul.tabs li a:hover {
		background: #f9f9f9; color:#70accb;
	}
	ul.tabs li.active  {
		background: #fff;
		border-bottom: 1px solid #fff;
	}
	ul.tabs li.active a:hover {
		background: #fff;
	}
	div.tab_container {
		clear: left;
		width: 100%;
		border-top: none;
		background: #fff;
	}
	div.tab_container .tab_content {
		padding: 50px 20px;
	}
	div.tab_content img {
		max-width: 100%;
	}
	div.tab_content iframe {
		max-width: 100%;
	}

@media only screen and (min-width: 0px) and (max-width: 768px) {
	ul.tabs li a {
		padding: 0 10px;
		font-size: 15px;
	}
}
